.fa {
  color: yellowgreen !important;
}
.nav-link {
  color: white !important;
}
.bg-primaryx {
  background-color: #28a74530!important;
}
.bg-darkx {
  background-color: #343a402e!important;
}
.successx {
  color: #fff;
  background-color: #28a74573;
  border-color: #28a74514;
}
.search_resultats {
  position: absolute;
  width: 200px;
  min-height: 50px;
  height: auto;
  text-align: center;
  background: #5c9f137d;
  border-radius: 5px;
  top: 56px;
  right: 97px;
  z-index: 99;
  padding: 5px;
  a {
    color: black;
    text-decoration: none;
  }
}
.search_resultats_d {
  display: none !important;
}

#div_color{
  position: relative;
  display: inline;
  input{
    width: 65px;
    border: none;
    outline: none;
  }
}
