<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark" [style.background]="bgColor">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/teatres">
          <i class='fa 	fas fa-star'></i>
          Teatres
        </a>
      </li>
    </ul>

    <ul class="navbar-nav mr-4" *ngIf="!user">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" (click)="templateName = 'login'">
          <i class="fa fas fa-sign-in"></i>
          Login
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">
          <i class="fa 	fas fa-user">
          </i>
          Sign up
        </a>
      </li>
    </ul>

    <!--Whrith username-->
    <ul class="navbar-nav mr-4" *ngIf="_guardChange">
      <li class="nav-item">
        <span class="text-primary d-inline-block mt-1 mr-4 p-1 bg-white border border-success rounded-right rounded-left">{{ user.username }}</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">
          <i class="fa fas fa-sign-in"></i>
          Logout
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 example-form" >
        <input class="form-control mr-sm-2" type="text" placeholder="search" aria-label="Number" name="search" [(ngModel)]='searchValue'>
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="search()">Search</button>
      <div id="search"  [ngClass]="{'search_resultats': cuyc, 'search_resultats_d': !cuyc}">
        <h5 class="mb-1">Teatre</h5>
        <p *ngIf="!this.teatre_data.length">Teatre NO</p>
        <a *ngFor="let teatre of teatre_data" routerLink="/teatres/teatre/{{teatre.id}}" (click)="cuyc=false">
          <i class="fa 	fas fa-star"></i>
          Teatre: {{teatre.teatre_name}}<br/>
        </a>
        <h5 class="mb-1 mt-2">Kino</h5>
        <p *ngIf="!this.kino_data.length">Kino NO</p>
        <a *ngFor="let kino of kino_data" routerLink="/teatres/teatre/kino/{{kino.id}}" (click)="cuyc=false">
          <i class="fa 	fas fa-star"></i>
          Teatre: {{kino.teatre_name}}<br/>
        </a>
      </div>
    </form>
  </div>
</nav>

<div class="container" id="div_color">
  <input [(colorPicker)]="color" [style.background]="bgColor" (colorPickerClose)="test(color)" value="Bg Color"/>
</div>
<!--Modal // Login in -->
<app-modal [templateName]="templateName" (clearTemplate)="templateName = ''"></app-modal>

<router-outlet></router-outlet>
