  <nav class="nav bg-secondary mb-2 p-2">
    <div class="container d-inline text-center">
      <div class="row">
        <div class="col-sm-6">
          <a class="nav-link d-inline" routerLink="/">Home</a>
          <a class="nav-link d-inline" routerLink="/teatres">Teatres</a>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-primary btn active">Signin</button>
          <button class="btn btn-danger ml-2 btn active">Signup</button>
        </div>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>
