.fa {
  color: yellowgreen !important;
}
.nav-link {
  color: white !important;
}
.bg-primaryx {
  background-color: #28a74530!important;
}
.bg-darkx {
  background-color: #343a402e!important;
}
.successx {
  color: #fff;
  background-color: #28a74573;
  border-color: #28a74514;
}
